<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--用户表-->
<mapper namespace="com.zijiewa.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.zijiewa.po.User">
        <id column="id_" property="id"></id>
        <result column="username_" property="username"></result>
    </resultMap>
    <!--配置SQL语句-->
    <!--通过ID查询用户记录-->
    <select id="findUserById" parameterType="int" resultType="com.zijiewa.po.User">
      SELECT * FROM USER WHERE id=#{id}
    </select>

    <select id="findUserResultMapById" parameterType="int" resultMap="userResultMap">
      SELECT id id_,username username_ FROM USER WHERE id=#{id}
    </select>

    <!--resultType：指定单条记录映射的java类型-->
    <select id="findUserByName" parameterType="java.lang.String" resultType="com.zijiewa.po.User">
        SELECT * FROM USER WHERE username like '%${value}%'
    </select>

    <!--插入用户

    -->
    <insert id="inserUser" parameterType="com.zijiewa.po.User">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO user(username,birthday,sex,address) VALUE(#{username},#{birthday},#{sex},#{address})
    </insert>
</mapper>